# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.sdf
*.opensdf
.vs/*
ipch/*
include/*
/ftd/Debug
/UnitTest++/obj/UnitTest++_vs14/Debug/UnitTest++_vs14.tlog
/lib/debug
/test_unit/Debug/test_unit.tlog
/UnitTest++/obj/UnitTest++_vs14/Debug
/test_unit/Debug
/test/debug/ut
/ftd_sw.VC.db
/ftd_sw.VC.VC.opendb
/auto_gen/FTD20/*
/auto_gen/FTD10/*
*.pyc
