/*
本文件自动生成，请勿手工修改
Version={version}
*/

#ifndef {version}_FIELDS_H
#define {version}_FIELDS_H

#include "../ID.h"
#include "../Declare.h"

{include_file_headers}

namespace FTD
{{

{declare_smart_ptr_lines}

union Field
{{
{field_members}
}};

bool readField(const char* buffer, int fid, union Field& field, int& readLen)
{{
	bool read_result = true;
	switch(fid)
	{{
{cases}
	default:
	{{
		read_result = false;
		break;
	}}
	}}
	return read_result;
}}

}}
#endif