/*
本文件自动生成，请勿手工修改
Version={version}
*/

#ifndef FTD_ID_TYPE_H
#define FTD_ID_TYPE_H

#define FTD_VERSION {version_number}

#define FTD_MODE_NONE 0x00
#define FTD_MODE_NONE_REQUEST 0x01
#define FTD_MODE_NONE_RESPONSE 0x02
#define FTD_MODE_DIALOG 0x10
#define FTD_MODE_DIALOG_REQUEST 0x11
#define FTD_MODE_DIALOG_RESPONSE 0x12
#define FTD_MODE_PRIVATE 0x20
#define FTD_MODE_BROADCAST 0x30

namespace FTD {{

///TID
{tid_def}

///FID
{fid_def}

}}
#endif