/*
本文件自动生成，请勿手工修改
Version={version}
*/

#ifndef FTD_ID_TYPE_H
#define FTD_ID_TYPE_H

#define FTD_VERSION {version_number}

#define DIALOG 0x10
#define DIALOG_REQUEST 0x11
#define DIALOG_RESPONSE 0x12
#define PRIVATE 0x20
#define BROADCAST 0x30

namespace FTD {{

///TID
{tid_def}

///FID
{fid_def}

}}
#endif