/*
本文件自动生成，请勿手工修改
Version={version}
*/

#ifndef FTD_ITEM_TYPE_H
#define FTD_ITEM_TYPE_H

#include "FTDDerivativeType.h"



namespace FTD {{

///衍生类型定义	
{t_type_def}

///Field存储类型定义
{tt_type_def}

}}
#endif